/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    color:#222;
}

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #00AEEF;
    color: white;
}

/* Modal Body */
.modal-body {
	padding: 2px 16px;
}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: #00AEEF;
    color: white;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

.modal-content h2 {
	font-size:2.5em;
}

/*
.form-group {
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:0.8em;
	color:#222;
}

input {
  border: 1px dotted #999;
  border-radius: 0;
  -webkit-appearance: none;
}
*/
a.myBtn {
	 display: inline-block;
	 padding: 0.46em 1.6em;
	 border: 0.1em solid #000000;
	 margin: 0 0.2em 0.2em 0;
	 border-radius: 0.12em;
	 box-sizing: border-box;
	 text-decoration: none;
	 font-family: 'Roboto', sans-serif;
	 font-weight: 300;
	 color: #000000;
	 text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
	 background-color: #FFFFFF;
	 text-align: center;
	 transition: all 0.15s;
}

a.myBtn:hover {
	 text-shadow: 0 0 2em rgba(255, 255, 255, 1);
	 color: #FFFFFF;
	 border-color: #FFFFFF;
}

@media all and (max-width:30em) {
	 a.myBtn {
		  display: block;
		  margin: 0.4em auto;
		 
	}
}

/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

/* The Close Button */
.close {
    color:#FFF;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}